[submodule "go-socketio"]
	path = go-socketio
	url = https://github.com/oflarcade/go-socketio.git
[submodule "swobby-backend"]
	path = swobby-backend
	url = https://github.com/oflarcade/spring-be.git
